.call-master
  .container
    .call-master__title= "Нет времени приехать в сервисный центр?"
    .call-master__noproblem= "Не беда, закажите вызов мастера!"
    .call-master__button-wrapper
      input.call-master__button(type="submit" value='Вызвать мастера')
