footer.footer
  .footer__link-to-top наверх
  .container 
    .footer__copyright © «Команда Р», 2006-2016
    .footer__social
      span О компании <br>
      span Мы в социальных сетях
      a(href="")
      a(href="")
      a(href="")
    .footer__gadgets 
      span Что мы ремонтируем
      ul
        li Ноутбуки 
        li Смартфоны
        li Планшеты
        li Умные часы
        li Электронные книги
        li Наушники
        li Мобильные телефоны
    .footer__phone 8 800 000 00 00
      ul
        li
          a(href="") Заказать звонок
        li
          a(href="") Обратная связь
        li
          a(href="") Часто задаваемые вопросы
    .footer__repair-status 
      include repair-status.pug
  
