.gadget-type#gadget-type
  .container
    .gadget-type__title Что мы ремонтируем:
    .gadget-type__items
      .gadget-type__item
        .player аудиоплееры
      .gadget-type__item
        .smart-watch умные часы
      .gadget-type__item
        .tablet планшеты
      .gadget-type__item
        .smartphone смартфоны
      .gadget-type__item
        .laptop ноутбуки
      .gadget-type__item
        .headphones наушники
      .gadget-type__item
        .ebook электронные книги
      .gadget-type__item
        .phone телефоны
