.header-gadgets
  .container
    .header-gadgets__item Телефоны
    .header-gadgets__item Планшеты
    .header-gadgets__item Ноутбуки
    .header-gadgets__item Смартфоны
    .header-gadgets__item Умные часы
    .header-gadgets__item Наушники
  
