nav.nav.header__nav
  ul
    li.nav__link
      a(href="#promo") о нас
    li.nav__link
      a(href="#gadget-type") что мы ремонтируем
    li.nav__link
      a(href="#service-map") сервисные центры
    li.nav__link
      a(href="#price-calc") стоимость ремонта
    li.nav__link
      a(href="#feedback") отзывы
  .hamburger.hamburger--collapse.nav__burger
    .hamburger-box
      .hamburger-inner
