.promo#promo
  .owl-carousel.promo-carousel
    - for(var i = 0; i < 4; i++) {
      .slide
        .container
          .slide-promo-title Работаем 24/7 <br> во всех районах СПб
          .slide-promo-subtitle Отдайте телефон в ремонт в сервисном центре на работе и заберите его у дома на следующий день
    - }
