.upper-line
  .container
    .upper-line__city-select
      select
        option Санкт-Петербург
        option Москва
    .upper-line__phone 8 800 000 00 00
    .upper-line__repair-status
      include repair-status
