// Resolution
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1200px;


// Colors
$dark_gray: #292425;
$gray: #373435;
$gray_text: rgb(60, 60, 60);
$hover_blue: #28A2D6;

$gradient_blue: #00ABD4;
$gradient_green: #00DE26;

$gradient: linear-gradient(to right, $gradient_blue, $gradient_green);
