.header-gadgets{
  background: $gray;
  display: none;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid $gray;
    top: -15px;
    left: 32%;

  }
  .container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  &__item{
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    font-family: "RobotoRegular", sans-serif;
    padding: 0px 30px;
    &:hover{
      background: $hover_blue;
      color: #000;
    }
  }
  @media (min-width: $screen-lg){
    display: block;
  }
}
